$color-background: rgba(246, 246, 246, 1);
$color-foreground: rgba(192, 231, 232, 1);
$color-accent1: rgba(209, 191, 183, 1);
$color-accent2: rgba(226, 152, 134, 1);
$color-accent3: rgba(244, 113, 86, 1);
$color-logo: rgba(139, 218, 89, 1);